---
---
@import "{{ site.theme }}";

body {background-color: #050b18; color: rgba(255, 255, 255, 1.00)}

h1, h2, h3, h4, h5, h6 { color: #ffffff; }

// header text
.site-title, .site-title:visited, .site-nav .page-link { color: #ffffff; }

// link text
a, a:visited { color: rgb(27, 149, 224); text-decoration: none; }
a:hover { color: rgb(162, 198, 253); text-decoration: underline; }

// Footer text
.footer-col-wrapper { font-size: 15px; color: #ffffff; margin-left: -15px; }

/** Code formatting */
pre, code { border: 1px solid #8a8a8a; background-color: rgb(26, 26, 26); }
code { color: #d8d8d8}


@media screen and (max-width: 600px) { .site-nav { background-color: #303030; border: 1px solid #ffffff; }
  .site-nav .menu-icon > svg { fill: #c5c5c5; } }